<!DOCTYPE html>
<html>
<% config.disque.count = page.count; %>
<%- include('section/head'); %>
<body>
<%- include('section/banner', {highlite: page.menu}); %>
<div id="main">
    <div id="content">
        <div>
            <%- include(page.layout); %>
            <%- include('section/comment'); %>
        </div>
    </div>
</div>
<%- include('section/foot'); %>
<% config.disque.count = false; %>
</body>
</html>
