<footer role="contentinfo"><hr>
    <p>
        Copyright &copy; 2017 - <%- config.author %> -
        <span class="credit">Powered by <a href="http://andvariToro.com">Andvari</a></span>
        using the <a href="<%- config.themeGit %>">andvari-<%- config.theme %></a> theme</span>
    </p>

</footer>

<% if (config.disqueSite) { %>
<script type="text/javascript">
      var disqus_shortname = '<%- config.disque.site %>';


<% if (config.disque.count) { %>
        var disqus_script = 'count.js';
<% } else { %>
        var disqus_identifier = '<%- page.permlink %>';
        var disqus_url        = '<%- page.permlink %>';
        var disqus_script = 'embed.js';
<% } %>


    (function () {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/' + disqus_script;
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    }());
</script>
<% } %>
